<md-toolbar layout-align="center start" class="md-menu-toolbar menu-bottom-border">

    <md-menu-bar>
        <md-button class="md-icon-button" ng-click="vm.$stayOpen = !vm.$stayOpen" aria-label="Side Navigation">
            <i class="material-icons">menu</i>
        </md-button>

        <md-menu>
            <button ng-click="$mdOpenMenu()">
                File
            </button>
            <md-menu-content>

                <md-menu-item>
                    <md-button ng-click="vm.newCompanyDialog();">
                        New Company...
                    </md-button>
                </md-menu-item>

                <md-menu-divider></md-menu-divider>

                <md-menu-item>
                    <md-button ng-click="vm.openCompanyDialog();">
                        Open Company...
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="">
                        Save Company...
                    </md-button>
                </md-menu-item>

            </md-menu-content>
        </md-menu>

        <md-menu>
            <button ng-click="$mdOpenMenu()">
                Status [status color]
            </button>
            <md-menu-content>

                <md-menu-item>
                    <p>Pub State 1</p>
                </md-menu-item>

                <md-menu-item>
                    <p>Pub State 2</p>
                </md-menu-item>

                <md-menu-item>
                    <p>Pub State 3</p>
                </md-menu-item>

                <md-menu-item>
                    <p>Pub State 4</p>
                </md-menu-item>

            </md-menu-content>
        </md-menu>

        <button>
            Email Verification
        </button>

    </md-menu-bar>

</md-toolbar>

<section layout="row">
    <md-sidenav class="md-whiteframe-z2" md-component-id="$leftMenu" md-is-locked-open="vm.$stayOpen">
        <md-content layout-padding>
            <md-button ng-click="vm.$stayOpen = !vm.$stayOpen" class="md-primary" hide-gt-md>
                Close Sidenav
            </md-button>
            <md-list>
                <md-list-item class="md-1-line" ng-repeat="item in vm.sideNavOptions">
                    <div class="md-list-item-text">
                        <h3>{{item.title}}</h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <md-content flex layout-padding class="md-whiteframe-z2">
        <div>
            <form>
                <!---->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Title</label>
                        <input ng-model="vm.display.name.title">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First Name</label>
                        <input ng-model="vm.display.name.first">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input ng-model="vm.display.name.last">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email Address</label>
                        <input ng-model="vm.display.email">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Street</label>
                        <input ng-model="vm.display.location.street" type="text">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>City</label>
                        <input ng-model="vm.display.location.city" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>State</label>
                        <input ng-model="vm.display.location.state" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Postal</label>
                        <input ng-model="vm.display.location.postcode" type="text">
                    </md-input-container>
                </div>

                <!---->
            </form>
        </div>
    </md-content>
</section>